:root {
    --color-background-black: #121212;
    --color-background-dark: #202020;
    --color-background-light: #2E2E2E;
    --color-background-lighter: #3E3E3E;
    --color-white: #f0f0f0;
    --color-lightgrey: #CCCCCC;
    --color-mediumgrey: #6E6E6E;
    --color-grey: #505050;
    --color-primary: #85CB33;
    --color-primary-darken: #4f7A1C;
    --color-red: #DA2C38;
    --color-lightred: #DB676f;
    --color-accent: #F08700;
    --border-radius: 1.2rem;
    --border-radius-sm: 0.6rem;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background-color: var(--color-background-black);
}


/* Typography */
h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    color: var(--color-white);
}

h1 {
    font-size: 4.7rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 1.9rem;
}

p {
    font-size: 1.5rem;
    color: var(--color-white);
}

/* Layout */
.app__global-container {
    height: calc(var(--vh) * 100);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*TODO: Do zastanowienia się co lepiej wygląda*/
    /*max-width: 1366px;*/
    margin: 0 auto;
    align-content: stretch;
    min-height: 600px;
}

.app__global-content-container {
    height: 100%;
    /*flex-grow: 1;*/
    overflow: auto;
    display: flex;
    position: relative;
}

.app__container, .app__container--grow {
    padding: 1rem;
    align-content: stretch;
}

.app__container--grow {
    display: block;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: 50fr 50fr;
}

.grid-cols-3 {
    grid-template-columns: 33.3fr 33.4fr 33.3fr;
}

.grid-cols-2-1 {
    grid-template-columns: 33.3fr 66.7fr;
}

.grid-cols-1-2 {
    grid-template-columns: 66.7fr 33.3fr;
}

@media screen and (max-width: 768px) {
    .app__container, .app__container--grow {
        padding: 0.4rem;
    }
}

/* Utils */
.app__flex {
    display: flex;
}

.app__align-items-center {
    align-items: center;
}

.app__justify-content-center {
    justify-content: center;
}

.app__justify-content-between {
    justify-content: space-between;
}

.app__text-center {
    text-align: center;
}

.app__m-0 {
    margin: 0;
}

.app__m-1 {
    margin: 0.6rem;
}

.app__m-2 {
    margin: 1.2rem;
}

.app__m-3 {
    margin: 1.8rem;
}

.app__p-0 {
    padding: 0;
}

.app__p-1 {
    padding: 0.6rem;
}

.app__p-2 {
    padding: 1.2rem;
}

.app__p-3 {
    padding: 1.8rem;
}

/* Cards */
.app__card {
    background-color: var(--color-background-dark);
    border-radius: var(--border-radius);
    padding: 1.2rem;
}

/* Scrollbar */
::-webkit-scrollbar {
    background-color: var(--color-background-light);
    width: 0.7rem;
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-background-lighter);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-grey);
}

/* Forms */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    background-color: var(--color-background-lighter);
    border: 2px solid var(--color-mediumgrey);
    outline: none;
    padding: 0.6rem;
    width: 100%;
    font-size: 1rem;
    border-radius: var(--border-radius-sm);
    color: var(--color-white);
    transition: 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    border-color: var(--color-white);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder {
    color: var(--color-mediumgrey);
    font-size: 0.9rem;
}

input[type="text"].app__input__error::placeholder,
input[type="password"].app__input__error::placeholder,
input[type="email"].app__input__error::placeholder,
input[type="number"].app__input__error::placeholder {
    color: var(--color-lightgrey);
}

.app__input__error {
    border-color: var(--color-red) !important;
    background-color: var(--color-lightred) !important;
}

.app__input__error-message {
    color: var(--color-red);
    font-size: 0.8rem;
    padding: 0.3rem 0 0 0 ;
}

.app__input__error-message:after {
    content: "";
    display: inline-block;
    width: 0;
}

.app__input__error--message-hidden {
    color: transparent;
}

label {
    color: var(--color-lightgrey);
    font-size: 0.8rem;
    padding: 0.4rem 0;
}

.app__input {
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.2rem 0;
}

/* Buttons */
.app__button {
    outline: none;
    background-color: var(--color-primary);
    border: none;
    padding: 0.6rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.3rem;
    cursor: pointer;
    margin: 0.6rem;
    transition: 100ms;
}

.app__button:hover {
    background-color: var(--color-primary-darken);
    color: var(--color-white);
}