:root {
    --color-background-black: #121212;
    --color-background-dark: #202020;
    --color-background-light: #2E2E2E;
    --color-background-lighter: #3E3E3E;
    --color-white: #f0f0f0;
    --color-lightgrey: #CCCCCC;
    --color-grey: #505050;
    --color-primary: #85CB33;
    --color-accent: #F08700;
    --border-radius: 1.2rem;
    --border-radius-sm: 0.6rem;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background-color: var(--color-background-black);
}


/* Typography */
h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    color: var(--color-white);
}

h1 {
    font-size: 4.7rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 1.9rem;
}

p {
    font-size: 1.5rem;
    color: var(--color-white);
}

/* Layout */
.app__global-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1366px;
    margin: 0 auto;
    align-content: stretch;
}

.app__global-content-container {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    align-content: stretch;
}

.app__container, .app__container--grow {
    margin: 1rem;
    align-content: stretch;
}

.app__container--grow {
    display: flex;
    flex-grow: 1;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: 50fr 50fr;
}

.grid-cols-3 {
    grid-template-columns: 33.3fr 33.4fr 33.3fr;
}

.grid-cols-2-1 {
    grid-template-columns: 33.3fr 66.7fr;
}

.grid-cols-1-2 {
    grid-template-columns: 66.7fr 33.3fr;
}


/* Utils */
.app__flex {
    display: flex;
}

.app__align-items-center {
    align-items: center;
}

.app__justify-content-center {
    justify-content: center;
}

.app__justify-content-between {
    justify-content: space-between;
}

.app__text-center {
    text-align: center;
}

.app__m-0 {
    margin: 0;
}

.app__m-1 {
    margin: 0.6rem;
}

.app__m-2 {
    margin: 1.2rem;
}

.app__m-3 {
    margin: 1.8rem;
}

.app__p-0 {
    padding: 0;
}

.app__p-1 {
    padding: 0.6rem;
}

.app__p-2 {
    padding: 1.2rem;
}

.app__p-3 {
    padding: 1.8rem;
}

/* Cards */
.app__card {
    background-color: var(--color-background-dark);
    border-radius: var(--border-radius);
    padding: 1.2rem;
}

/* Scrollbar */
::-webkit-scrollbar {
    background-color: var(--color-background-light);
    width: 0.7rem;
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-background-lighter);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-grey);
}

/* Forms */
