@import "base.css";

/* Login */
.app__login {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app__login-card, .app__signin-card {
    display: flex;
    background-color: var(--color-background-dark);
    border-radius: var(--border-radius);
    padding: 1rem;
}

.app__login-card {
    flex-direction: row;
}

.app__signin-card {
    flex-direction: column;
}

.app__login-card__left-pane {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.app__login-card__right-pane {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.app__login-card__header {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {

    .app__login {
        width: 100%;
    }

    .app__login-card {
        padding: 0.5rem;
        width: 100%;
    }

    .app__login-card__left-pane {
        display: none;
    }

    .app__login-card__right-pane {
        padding: 0;
        width: 100%;
    }
}