@import "base.css";

/* Navbar */
.app__navbar {
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-background-dark);
    padding: 0.6rem;
}

.app__navbar__icon {
    padding: 0.4rem;
}

.app__navbar__collapse-icon {
    display: none;
    width: 2rem;
    cursor: pointer;
    transition: 300ms;
}

.app__navbar__collapse-icon:hover {
    transform: rotateY(180deg);
}

.app__navbar__content, .app__navbar__content--logged {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    padding: 0 0.5rem;
    transform-origin: top;
    transition: max-height 1.5s ease;
    position: relative;
}

.app__navbar__content {
    justify-content: flex-end;
}

.app__navbar__content--logged {
    justify-content: space-between;
}

.app__navbar__links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app__navbar__link, .app__navbar__link--active {
    font-size: 1rem;
    margin: 0 0.3rem;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    border-width: 3px;
    border-style: solid;
}

.app__navbar__link {
    color: var(--color-lightgrey);
    border-color: transparent;
}

.app__navbar__link:hover {
    background-color: var(--color-grey);
    color: var(--color-white);
    border-color: var(--color-grey);
}

.app__navbar__link--active {
    background-color: var(--color-primary);
    font-weight: bold;
    border-color: var(--color-background-black);;
}

.app__navbar__identity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
}

.app__navbar__identity:hover {
    border-radius: var(--border-radius-sm);
    background-color: var(--color-grey);
}

.app__navbar__identity__name {
    font-size: 0.9rem;
    color: var(--color-white);
    font-weight: bold;
    margin: 0.1rem;
}

.app__navbar__identity__email {
    font-size: 0.8rem;
    color: var(--color-lightgrey);
    margin: 0.1rem;
}

@media screen and (max-width: 768px) {
    .app__navbar {
        flex-wrap: wrap;
        padding: 0.2rem 0.6rem;
    }

    .app__navbar__content, .app__navbar__content--logged {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: var(--color-background-light);
        border-radius: var(--border-radius-sm);
        margin: 0.3rem 0;
        padding: 0.3rem;
    }

    .app__navbar__links {
        flex-direction: column;
        align-items: flex-start;
    }

    .app__navbar__link, .app__navbar__link--active {
        margin: 0.3rem 0;
    }

    .app__navbar__collapse-icon {
        display: inline-block;
    }

    .app__navbar__content.app__navbar__content--collapsed,
    .app__navbar__content--logged.app__navbar__content--collapsed{
        display: none;
    }
}