@import "base.css";

/* Navbar */
.app__navbar {
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-background-dark);
    padding: 1rem;
    margin: 1rem;
}

.app__navbar__content, .app__navbar__content__logged {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
}

.app__navbar__content {
    justify-content: flex-end;
}

.app__navbar__content__logged {
    justify-content: space-between;
}

.app__navbar__links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app__navbar__link, .app__navbar__link--active {
    font-size: 1rem;
    margin: 0 0.3rem;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    border-width: 3px;
    border-style: solid;
    transition: 150ms;
}

.app__navbar__link {
    color: var(--color-lightgrey);
    border-color: transparent;
}

.app__navbar__link:hover {
    background-color: var(--color-grey);
    color: var(--color-white);
    border-color: var(--color-grey);
}

.app__navbar__link--active {
    background-color: var(--color-primary);
    font-weight: bold;
    border-color: var(--color-background-black);;
}

.app__navbar__identity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}